<h1 class="center">Mailed Secrets</h1>
<div class="introduction">
<h2 class="center">Share Letters, Share Life</h2>
<article>
<p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo. Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo.</p>
<p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo. Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo.</p>
</article>
</div>
<div class="sign-in center">
<h3>Sign in</h3>
<form action="/users/autho" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <input type="submit">
</form>

<h3>Sign up</h3>
<div class="sign-in center">
<form action="/users/new" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
  <br/>
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">
  <br/>
  <label for="email">Email:</label>
  <input type="text" name="email">
  <br/>
  <label for="password">password</label>
  <input type="password" name="password">
  <br/>
  <input type="submit">
</form>

</div>
