<script>
//   window.fbAsyncInit = function() {
//     FB.init({
//       appId      : '816712391716878',
//       xfbml      : true,
//       version    : 'v2.2'
//     });

//     // ADD ADDITIONAL FACEBOOK CODE HERE
//   };

//   (function(d, s, id){
//      var js, fjs = d.getElementsByTagName(s)[0];
//      if (d.getElementById(id)) {return;}
//      js = d.createElement(s); js.id = id;
//      js.src = "//connect.facebook.net/en_US/sdk.js";
//      fjs.parentNode.insertBefore(js, fjs);
//    }(document, 'script', 'facebook-jssdk'));
</script>

<h1 class="center">Mailed Secrets</h1>
<div class="introduction">
<h2 class="center">Share Letters, Share Life</h2>
<h2 class="center">How it Works</h2>
<ul class="how-it-works center">
  <li><img src="/imgs/manoncomputer.jpg"><p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando </p></li>
  <li><img src="/imgs/manoncomputer.jpg"><p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando </p></li>
  <li><img src="/imgs/manoncomputer.jpg"><p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando </p></li>
  <li><img src="/imgs/manoncomputer.jpg"><p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando </p></li>
</ul>
<!-- <article>
  <p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo. Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo.</p>
  <p>Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo. Lorem ipsum dolor sit amet, ea possit labitur tibique nec, id vis saepe primis malorum. Per eu solet timeam molestie, ad has malis delicatissimi, et odio consul deterruisset vis. Case eius menandri mei ex, vis ea wisi quando repudiare. Cu duo solum salutatus. Est id veri liber, clita integre eam te. His ipsum dicit insolens an. Tollit pertinacia ut has, ex nec utinam putant appareat, in nostro suavitate duo.</p>
</article> -->

<div>
  <ul class="inline-list center">
    <li><button class="sign-up-button">Sign Up</button></li>
    <li>/</li>
    <li><button class="sign-in-button">Sign In</button></li>
  </ul>
</div>
</div>

<div class="modal-form-container modal sign-in">
  <h2 class="modal-exit">X</h2>
  <div class="sign-up-form">
    <form action="/users/autho" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email">
      <br/>
      <label for="password">password</label>
      <input type="password" name="password">
      <br/>
      <input type="submit">
    </form>
  </div>
</div>

<div class="modal-form-container modal sign-up">
  <h2 class="modal-exit">X</h2>
  <div class="sign-up-form inline-list">
    <form action="/users/new" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name">
      <br/>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name">
      <br/>
      <label for="email">Email:</label>
      <input type="text" name="email">
      <br/>
      <label for="password">Password:</label>
      <input type="password" name="password">
      <br/>
      <label for="repassword">Retype Password:</label>
      <input type="password" name="repassword">
      <br/>
      <input type="submit">
    </form>
  </div>
  <h3>OR</h3>
  <div>
    <ul class="oauth-buttons">
      <li><button><!-- <img src="/imgs/facebook.jpg"> --></button></li>
      <li><button><!-- <img src="/imgs/twitter.png"> --></button><</li>
    </ul>
  </div>
</div>
