<h1 class="center">Mailed Secrets</h1>
<div class="introduction">
<h2 class="center">Share Letters, Share Life</h2>
<p>I think that Blah had it right when he said "blah blah blah blah blah blah". The purpose of GhostWritter is to connect people throught he oldest form of communcation Letters. It is a completely anoumous one time letter sharing community.</p>
<h2 class="center">How it Works</h2>
<ul class="how-it-works center">
  <li ><img class="guy-at-computer" src="/imgs/guyatcomputer.png"></li>
  <li ><img class="letter-machine" src="/imgs/letter-machine.png"></li>
  <li ><img class="letter-icon" src="/imgs/letter-icon-graphic.png"></li>
</ul>

<div>
  <ul class="inline-list center">
    <li><button class="sign-up-button">Sign Up</button></li>
    <li>/</li>
    <li><button class="sign-in-button">Sign In</button></li>
  </ul>
</div>
</div>

<div class="modal-form-container modal sign-in">
  <h2 class="modal-exit">X</h2>
  <div class="sign-up-form">
    <form action="/users/autho" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email">
      <br/>
      <label for="password">password</label>
      <input type="password" name="password">
      <br/>
      <input type="submit">
    </form>
  </div>
  <h3>OR</h3>
  <div>
    <ul class="oauth-buttons">
      <li><a href="http://127.0.0.1:9393/auth/facebook"><img src="/imgs/facebook.png"></a></li>
    </ul>
  </div>
</div>

<div class="modal-form-container modal sign-up">
  <h2 class="modal-exit">X</h2>
  <div class="sign-up-form inline-list">
    <form action="/users/new" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name">
      <br/>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name">
      <br/>
      <label for="email">Email:</label>
      <input type="text" name="email">
      <br/>
      <label for="password">Password:</label>
      <input type="password" name="password">
      <br/>
      <label for="repassword">Retype Password:</label>
      <input type="password" name="repassword">
      <br/>
      <input type="submit">
    </form>
  </div>
  <h3>OR</h3>
  <div>
    <ul class="oauth-buttons">
      <li><a href="http://127.0.0.1:9393/auth/facebook"><img src="/imgs/facebook.png"></a></li>
      <!-- <li><button><img src="/imgs/twitter.png"> twitter</button><</li> -->
    </ul>
  </div>
</div>
